<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>ComparadorLOA</servlet-name>
		<servlet-class>com.hackathon.comparadorloa.ComparadorLOAServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComparadorLOA</servlet-name>
		<url-pattern>/comparadorloa</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Funcao</servlet-name>
		<servlet-class>com.hackathon.comparadorloa.FuncaoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Funcao</servlet-name>
		<url-pattern>/funcao</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Subfuncao</servlet-name>
		<servlet-class>com.hackathon.comparadorloa.SubFuncaoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Subfuncao</servlet-name>
		<url-pattern>/subfuncao</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Anos</servlet-name>
		<servlet-class>com.hackathon.comparadorloa.AnosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Anos</servlet-name>
		<url-pattern>/anos</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CompararServlet</servlet-name>
		<servlet-class>com.hackathon.comparadorloa.CompararServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompararServlet</servlet-name>
		<url-pattern>/comparar</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
